# .vscode/ directory
####################
.vscode/

# Qsub error and output files
#############################
*.e*
*.o*

# R history and library files
#############################
.R*

# PDF files
###########
*.pdf

.DS_Store

HelperScripts/18_barley_loci/18_loci_beds.list

testing_related